body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  text-align: center; 
}

body, #root {
  height: 100vh;
  width: 100vw;
}

.App, .Content{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.Content{
  align-items: center;
  justify-content: flex-start;
}

.Item-Container{
  width: 100%;
  max-width: 500px;
}

.Item-Container ul{
  list-style: none;
  margin:  0;
  padding: 0;
  width: 100%;
}

.Item-Container li{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(236, 236, 236);;
  margin: 1rem 0 1rem 0;
  padding: 1rem;
  height: 2rem;
}

.Item-Container input, .fa-trash svg{
  height:30px;
  width: 30px;
}

.fa-trash svg:hover, .Item-Container input:hover {
  cursor: pointer;
}

.fa-trash svg:hover{
  color: rgb(255, 0, 0);
}

.fa-trash svg{
  color: rgb(2, 154, 255);
}

.Footer {
  margin-top: auto;
}

.Footer, .Header {
  background-color: blue;
  color: white;
}

.AddForm label, .searchForm label{
  position: absolute;
  left: -10000px;
}

.AddForm{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: 3rem;
}

.AddForm input{
  width: 95%;
  padding: 7px;
  height: 68%;
  margin-right: 5px;
}

.AddForm button{
  width: 10%;
  height: 100%;
  padding: 5px;
  background-color: white;
}

.AddForm button svg{
  width: 70%;
  height: 70%;
  margin-top: 5px;
}

.AddForm input, .AddForm button{
  border: 1px solid black;
  border-radius: 5px;
}

.AddForm button:hover{
  cursor: pointer;
  color: rgb(2, 154, 255)
}

.searchForm{
  width: 100%;
  max-width: 500px;
  margin-top: 1rem;
  height: 3rem;
}

.searchForm input{
  width: 97%;
  padding: 7px;
  height: 68%;
  border: 1px solid black;
  border-radius: 5px;
}